version: '3'
services:
  nacos-mysql:
    container_name: nacos-mysql
    environment:
      MYSQL_ROOT_PASSWORD: "nac0s.admin"
    image: mysql:5.7
    restart: unless-stopped
    volumes:
      - "/Users/apaye/workspace/docker/mysql/nacos/default/data:/var/lib/mysql"
      - "/Users/apaye/workspace/docker/mysql/nacos/default/conf/my.cnf:/etc/my.cnf"
    ports:
      - "13316:3306"
  nacos-default:
    container_name: nacos-standalone
    environment:
      MYSQL_ROOT_PASSWORD: "nac0s.admin"
    image: nacos/nacos-server
    restart: unless-stopped
    ports:
      - "18848:8848"