apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    log.mount.launch.status: '[]'
    log.mount.policy.launcher: '[]'
    meta.helm.sh/release-name: lsh-mcp-kibana
    meta.helm.sh/release-namespace: default
  creationTimestamp: "2021-03-17T01:43:57Z"
  generation: 1
  labels:
    app: lsh-mcp-kibana
    app.kubernetes.io/managed-by: Helm
    heritage: Helm
    release: lsh-mcp-kibana
  name: lsh-mcp-kibana-lsh-mcp-kibana
  namespace: default
  resourceVersion: "2533966"
  selfLink: /apis/extensions/v1beta1/namespaces/default/deployments/lsh-mcp-kibana-lsh-mcp-kibana
  uid: 449fe647-4767-4f0f-8b06-b53c2c4a30b8
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: lsh-mcp-kibana
      release: lsh-mcp-kibana
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: lsh-mcp-kibana
        release: lsh-mcp-kibana
    spec:
      containers:
        - env:
            - name: ELASTICSEARCH_HOSTS
              value: http://lsh-mcp-elasticsearch-lsh-mcp-elasticsearch:9200
            - name: SERVER_HOST
              value: 0.0.0.0
            - name: NODE_OPTIONS
              value: --max-old-space-size=1800
          image: docker.elastic.co/kibana/kibana:7.5.0
          imagePullPolicy: Always
          name: kibana
          ports:
            - containerPort: 5601
              protocol: TCP
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - |
                  #!/usr/bin/env bash -e

                  # Disable nss cache to avoid filling dentry cache when calling curl
                  # This is required with Kibana Docker using nss < 3.52
                  export NSS_SDB_USE_CACHE=no

                  http () {
                      local path="${1}"
                      set -- -XGET -s --fail -L

                      if [ -n "${ELASTICSEARCH_USERNAME}" ] && [ -n "${ELASTICSEARCH_PASSWORD}" ]; then
                        set -- "$@" -u "${ELASTICSEARCH_USERNAME}:${ELASTICSEARCH_PASSWORD}"
                      fi

                      STATUS=$(curl --output /dev/null --write-out "%{http_code}" -k "$@" "http://localhost:5601${path}")
                      if [[ "${STATUS}" -eq 200 ]]; then
                        exit 0
                      fi

                      echo "Error: Got HTTP code ${STATUS} but expected a 200"
                      exit 1
                  }

                  http "/app/kibana"
            failureThreshold: 3
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 3
            timeoutSeconds: 5
          resources:
            limits:
              cpu: "1"
              memory: 2Gi
            requests:
              cpu: 100m
              memory: 800Mi